@model MedCare_Hospital.Data.ViewModels.PatientFeedback

<html>
<head>
    <link rel="stylesheet" href="../../css/FeedbackCreate.css" />
</head>
<body>

    <h1>Add Comment</h1>

    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label asp-for="FeedbackText"> Add what you have in mind</label>
            <textarea asp-for="FeedbackText" placeholder="Write something.." style="height:200px"></textarea>
            <span asp-validation-for="FeedbackText" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PatientId">Patient Id</label>
            <input asp-for="PatientId" class="form-control" />
            <span asp-validation-for="PatientId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-create float-right" asp-action="Create" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    }

</body>
</html>