@model IEnumerable<MedCare_Hospital.Data.ViewModels.PatientFeedback>

<html>
<head>
    <link rel="stylesheet" href="./css/FeedbackIndex.css" />
</head>
<body>
    <h1 class="heading">Patient's Feedback</h1>
    @foreach (var patientFeedback in Model)
    {
        <div class="author">
            @patientFeedback.Patient.Name
        </div>
        <div class="comment">
            @patientFeedback.Feedback.Text
        </div>
        <div>
            @if (User.IsInRole("Admin"))
            {
                <a class="btn edit-button" asp-action="Update" asp-route-id="@patientFeedback.Feedback.FeedbackId"><i class="bi bi-pencil-square"></i>Edit</a>
                <a class="btn delete-button" asp-action="Delete" asp-route-id="@patientFeedback.Feedback.FeedbackId"><i class="bi bi-trash"></i>Delete</a>
            }
              </div>
    }
    <a asp-controller="Feedback" asp-action="Create" class="btn btn-create">Add New Feedback</a>


</body>
</html>
