@model MedCare_Hospital.Data.ViewModels.PatientFeedback

<html>
    <head>
        <style>
        body {
            background-color: #e8f6f3;
        }

        .heading {
            font-family: 'Century Schoolbook';
            margin-bottom: 40px;
        }

        input[type=number], textarea {
            width: 100%;
            padding: 12px 20px;
            margin: 12px 0;
            box-sizing: border-box;
            border: 2px solid #0097a7;
            border-radius: 4px;
        }

        .btn-update {
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            background-color: #0097a7;
            color: #fff;
            padding-left: 50px;
            padding-right: 50px;
        }

        .btn-index {
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            background-color: #fff;
            border: 2px solid #0097a7;
            color: #0097a7;
            padding-left: 50px;
            padding-right: 50px;
        }
        </style>
    </head>
    <body>
    <h1>Edit Comment</h1>
    @using (Html.BeginForm("Update", "Feedback", FormMethod.Post))
    {
        <div class="form-group">
            <label asp-for="FeedbackText"> Add what you have in mind</label>
            <textarea asp-for="FeedbackText" placeholder="Write something.." style="height:200px"></textarea>
            <span asp-validation-for="FeedbackText" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PatientId">Patient Id</label>
            <input asp-for="PatientId" class="form-control" />
            <span asp-validation-for="PatientId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="@Model.Feedback.FeedbackId" class="d-none" value="@Model.FeedbackId" />
            <input type="submit" value="Update" class="btn btn-update" asp-action="Update" />
            <a asp-action="Index" class="btn btn-index">Cancel</a>
        </div>
    }
    </body>
</html>
