body {
    background-color: #e8f6f3;
}

.heading {
    font-family: 'Century Schoolbook';
    margin-bottom: 40px;
}

input[type=number], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    border: 2px solid #0097a7;
    border-radius: 4px;
}

.btn-create {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #0097a7;
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
}
