body {
    background-color: #61d1c5;
}

.delete-img {
    margin-top: 100px;
}

.content-delete {
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    border-radius: 10px;
    font-size: 18px;
    opacity: 90%;
    height: 560px;
    width: 400px;
    padding: 25px 25px;
    padding-left: 35px;
    margin-top: 20px;
    margin-left: 100px;
}
.rounded-circle {
    clip-path: circle(50% at 50% 50%);
    width: 130px;
    height: 130px;
}

.btn-index {
    font-size: 18px;
    background-color: #fff;
    border: 2px solid #0097a7;
    color: #0097a7;
    padding-left: 10px;
    padding-right: 10px;
}

.delete-button {
    background-color: red;
    border: none;
    color: white;
    font-size: 18px;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

/* Media queries for different screen resolutions */

/* Small screens (up to 768px) */
@media screen and (max-width: 768px) {
    .delete-img {

    }

    .content-delete {
        height: 640px;
        width: 300px;
        padding-left: 15px;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-left: 50px;
    }
}

/* Medium screens (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .delete-img {
        margin-top: 80px;
        height:20%;
    }

    .content-delete {
        height: 620px;
        width: 360px;
        padding-left: 30px;
        margin-top: 15px;
        margin-left: 80px;
    }
}

/* Add additional media queries for other screen resolutions if needed */

