body {
    background-color: #61d1c5;
    font-family: 'Times New Roman', Times, serif;
}

.delete-img {
    margin-top: 100px;
}

.content-delete {
    background-color: #fff;
    border-radius: 10px;
    font-size: 18px;
    opacity: 90%;
    height: 380px;
    width: 400px;
    padding: 25px 25px;
    padding-left: 40px;
    margin-top: 100px;
    margin-left: 100px;
}

.btn-index {
    font-size: 20px;
    background-color: #fff;
    border: 2px solid #0097a7;
    color: #0097a7;
    padding-left: 40px;
    padding-right: 40px;
}

.delete-button {
    background-color: red;
    border: none;
    color: white;
    font-size: 20px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    .content-delete {
        width: 300px;
        margin-left: 50px;
    }

    .btn-index {
        padding-left: 20px;
        padding-right: 20px;
    }

    .delete-button {
        font-size: 18px;
        padding: 6px 12px;
    }
}

@media only screen and (max-width: 576px) {
    .content-delete {
        width: 250px;
        margin-left: 30px;
        height: 320px;
    }

    .btn-index {
        font-size: 16px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .delete-button {
        font-size: 16px;
        padding: 4px 8px;
    }
}
