body {
    background-color: #e8f6f3;
}

.survey-heading {
    font-family: Algerian;
    font-size: 50px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #0097a7;
    border-radius: 4px;
}

.question {
    margin-bottom: 25px;
}

#select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    border: 2px solid #0097a7;
}

.form-context {
    font-family: 'Goudy Old Style';
    font-size: 20px;
    font-weight: 500;
}

.btn-submit {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #0097a7;
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
}
