@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<html>
<head>
    <style>
        body {
            background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v870-mynt-20_1_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=34b4a3b495378392a9320de3f3eb09ce');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        .login-container {
            background-color: #fff;
            margin-top: 80px;
            margin-bottom: 30px;
            padding-top: 10px;
            border: 1px solid #BFBFBF;
            background-color: white;
            box-shadow: 10px 10px 5px #aaaaaa;
   
            float: left;
            -ms-transform: rotate(7deg); /* IE 9 */
            -webkit-transform: rotate(7deg); /* Safari */
            transform: rotate(7deg);
        }

        .login-btn {
            background-color: #0097a7;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
        }
        .welcome-container{
            font-family:Algerian;
            font-size:50px;
            text-align:center;
            margin-left:100px;
            margin-right:150px;
            margin-top:190px;
            color: #0097a7;
            text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0097a7, 0 0 82px #0097a7, 0 0 292px #fff, 0 0 102px #000, 0 0 151px #000;
        }

    </style>
</head>
<body>
    <div class="row">
        
        <div class="col-md-4 welcome-container">
            <p>Welcome Back to our Hospital!</p>
        </div>
        <div class="col-md-4 login-container">
            <h1>Login</h1>
            <section>
                <form id="account" method="post">
                    <h2>Use your account to login.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg login-btn">Login</button>
                    </div>
                    <div>
                        @*                        <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>*@
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        @*            <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>*@
                    </div>
                </form>
            </section>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>

