@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<html>
<head>
    <style>
        body{
            background-color: #dcf3ef;
        }
        .register_container{
            background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v870-tang-36_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=d79f64b7b61002995177b5a8d81b522e');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            margin-top:10px;
            margin-left:0px;
            opacity:90%;
            border-radius:50%;
        }

        .register_content{
            color: #0097a7;
            text-shadow: 2px 2px #fff;
        }
        .login-button{
            padding-top:150px;
        }
        .button-heading{
            font-family:Gadugi;
            font-size:20px;
            font-weight:600;
        }
        .button{
            background-color: #0097a7; 
            border: none;
            color: white;
            font-family:'Times New Roman', Times, serif;
            font-size:20px;
            padding: 10px 22px;
            text-align: center;
            text-decoration: none;
            border-radius:5px;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
        .register-btn{
            background-color: #0097a7;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
        }

            .register-btn:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
</head>
<body>
    <div class="row ">
        <div class=" col-md-8 register_container ">
            <div class="container_child register_thumbnail">
                <div class="register_content text-center">
                    <h1 class="heading--primary">Welcome to MedCare.</h1>
                    <h2 class="heading--secondary">Are you ready to join us?</h2>
                </div>
                <div class="login-button text-center">
                    <div class="button-heading">
                        <p>If you already have an account so login</p>
                    </div>
                    <div class="button">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><strong>Login</strong></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h1>@ViewData["Title"]</h1>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Create a new account.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="Name" />
                    <label asp-for="Input.Name">Name</label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Role" class="form-control" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Role">Role</label>
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg register-btn">Register</button>
            </form>
        </div>
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>



