@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<html>
<head>
    <link rel="stylesheet" href="../../css/Register.css" />
</head>
<body>
    <div class="row ">
        <div class=" col-md-8 register_container ">
            <div class="container_child register_thumbnail">
                <div class="register_content text-center">
                    <h1 class="heading--primary">Welcome to MedCare.</h1>
                    <h2 class="heading--secondary">Are you ready to join us?</h2>
                </div>
                <div class="login-button text-center">
                    <div class="button-heading">
                        <p>If you already have an account so login</p>
                    </div>
                    <div class="button">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><strong>Login</strong></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h1>@ViewData["Title"]</h1>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Create a new account.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="Name" />
                    <label asp-for="Input.Name">Name</label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Role" class="form-control" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Role">Role</label>
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg register-btn">Register</button>
            </form>
        </div>
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>



