@model MyHospital_MVC.Models.Appointment

<html>
<head>
    <link rel="stylesheet" href="../../css/AppointmentCreate.css" />
</head>
<body>
    <h2 class="heading">Create Appointment</h2>
    <div class="row text">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Create">
                    <div class="form-group">
                        <label asp-for="Date">Appointment Date</label>
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reason">Reason</label>
                        <input asp-for="Reason" class="form-control" />
                        <span asp-validation-for="Reason" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PatientId">Patient Id</label>
                        <input asp-for="PatientId" class="form-control" />
                        <span asp-validation-for="PatientId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HealthcareProviderId">Healthcare Provider Id</label>
                        <input asp-for="HealthcareProviderId" class="form-control" />
                        <span asp-validation-for="HealthcareProviderId" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Create" class="btn btn-create float-right" asp-action="Create" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>