@model Survey

@{
    ViewData["Title"] = "Thank You";
}

<html>
<head>
    <link rel="stylesheet" href="../../css/SurveyThanks.css" />
</head>
<body>
    <div class="container">
        <h1>Thank You for Booking your appointment!</h1>
        <p>The Appointment is under review.</p>
        <p>Thank you for completing the booking. Your responses have been recorded.</p>
        <p>We will contact with you via phone call soon to confirm your appointment.</p>
        <p>Stay Safe and Healthy!</p>
    </div>
</body>
</html>
