@model MyHospital_MVC.Models.HealthcareProvider

<h2>Create Healthcare Provider</h2>

<div class="row text">
    <div class="col-md-8 offset-2">

        <div class="row">
            <div class="col-md-8 offset-4">

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <p>
                        <h1>Add a New Healthcare Provider</h1>
                    </p>
                    <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" class="form-control" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Speciality" class="control-label"></label>
                        <input asp-for="Speciality" class="form-control" />
                        <span asp-validation-for="Speciality" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact" class="control-label"></label>
                        <input asp-for="Contact" class="form-control" />
                        <span asp-validation-for="Contact" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" asp-action="Create" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All Healthcare Providers</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>