@model MyHospital_MVC.Models.MedicalRecord

@{
    ViewData["Title"] = "Edit Medical Record";
}

<html>
<head>
    <style>
        body {
            background-color: #e8f6f3;
        }

        .heading {
            font-family: 'Century Schoolbook';
            margin-bottom: 40px;
        }

        input[type=text], [type=number], textarea {
            width: 100%;
            padding: 12px 20px;
            margin: 12px 0;
            box-sizing: border-box;
            border: 2px solid #0097a7;
            border-radius: 4px;
        }

        .btn-update {
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            background-color: #0097a7;
            color: #fff;
            padding-left: 50px;
            padding-right: 50px;
        }

        .btn-index {
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            background-color: #fff;
            border: 2px solid #0097a7;
            color: #0097a7;
            padding-left: 50px;
            padding-right: 50px;
        }
    </style>
</head>
<body>
    <h1 class="heading">Edit Medical Record</h1>
    <div class="row text">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Update">
                    <div class="form-group">
                        <label asp-for="Diagnosis" class="control-label"></label>
                        <input asp-for="Diagnosis" class="form-control" />
                        <span asp-validation-for="Diagnosis" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Treatment" class="control-label"></label>
                        <input asp-for="Treatment" class="form-control" />
                        <span asp-validation-for="Treatment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Medication" class="control-label"></label>
                        <input asp-for="Medication" class="form-control" />
                        <span asp-validation-for="Medication" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LabResult" class="control-label"></label>
                        <input asp-for="LabResult" class="form-control" />
                        <span asp-validation-for="LabResult" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="History" class="control-label"></label>
                        <input asp-for="History" class="form-control" />
                        <span asp-validation-for="History" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PatientId" class="control-label"></label>
                        <input asp-for="PatientId" class="form-control" />
                        <span asp-validation-for="PatientId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-update" asp-action="Update" />
                        <a class="btn btn-index" asp-action="Index">Show All MedicalRecords</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>