@model Survey

@{
    ViewData["Title"] = "Thank You";
}

<html>
<head>
    <style>
        body {
            background-image: url('https://i.pinimg.com/736x/1a/ee/5c/1aee5c344846f449350feae457ea350e.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        .container{
            text-align:center;
            margin-top:150px;
        }
        h1 {
            font-family: Rockwell;
        }

        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Thank You for Completing the COVID-19 Survey!</h1>
        <p>The survey is verified by Dr.Ahmad Khusraw Faiqzada.</p>
        <p>Thank you for completing the COVID survey. Your responses have been recorded.</p>
        <p>We advice you to infom your doctor and make a Covid-19 test.</p>
        <p>Stay Safe and Healthy!</p>
    </div>
</body>
</html>
