@model Survey

@{
    ViewData["Title"] = "Thank You";
}

<html>
<head>
    <link rel="stylesheet" href="../../css/SurveyThanks.css" />
</head>
<body>
    <div class="container">
        <h1>Thank You for Completing the COVID-19 Survey!</h1>
        <p>The survey is verified by Dr.Ahmad Khusraw Faiqzada.</p>
        <p>Thank you for completing the COVID survey. Your responses have been recorded.</p>
        <p>We advice you to infom your doctor and make a Covid-19 test.</p>
        <p>Stay Safe and Healthy!</p>
    </div>
</body>
</html>
