@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/Index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
    <div class="bg-image">
        <h1 class="display-4 welcome">Welcome to the MedCare &#128147;</h1>
        <div class="container">
            <div class="row" id="top-main">
                <div class="col-md-7 col-lg-6 col-xl-4 box-content">
                    <h2>We do our best to keep you <span>Healthy</span></h2>
                    <p>
                        Our Doctors are the best in the country and we use the newest technology for your health
                    </p>
                    <button>
                        Read More <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                       fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <section id="hospital-action">
        <div class="container">
            <div class="row">
                <div class="col-md-6 left-col">
                    <h2>Healthcare Service</h2>
                    <a href="#" class="item">
                        <img src="./uploads/heartSymbol.png" alt="">
                        <span>Cardiology</span>
                        <p>
                            All kind of medical diagnosis and treatment of congenital heart defects,
                            coronary artery disease, heart failure, valvular heart disease and electrophysiology.
                        </p>
                    </a>

                    <a href="#" class="item">
                        <img src="./uploads/heartSymbol.png" alt="">
                        <span>Neurology</span>
                        <p>All kind of medical diagnosis and treatment of disorders of the nervous system.</p>
                    </a>

                    <a href="#" class="item">
                        <img src="./uploads/heartSymbol.png" alt="">
                        <span>Genecology</span>
                        <p>All kind of medical diagnosis and treatment of intraspecific genetic variation in relation to environmental conditions.</p>
                    </a>

                    <a href="#" class="item">
                        <img src="./uploads/heartSymbol.png" alt="">
                        <span>Endocrinology</span>
                        <p>All kind of medical diagnosis and treatment of hormones and endocrine glands and organs.</p>
                    </a>
                </div>

                <div class="right-col col-md-6">
                    <h2>Healthcare Service</h2>
                    <a href="#" class="item">
                        <img src="./uploads/heartSymbol.png" alt="">
                        <span>Dermatology</span>
                        <p>All kind of medical diagnosis and treatment of diseases related to skin, hair, nails, and cosmetic problems.</p>
                    </a>

                    <a href="#" class="item">
                        <img src="./uploads/heartSymbol.png" alt="">
                        <span>Otolaryngology</span>
                        <p>All kind of medical diagnosis and treatment of diseases of the ear, nose, and throat.</p>
                    </a>

                    <a href="#" class="item">
                        <img src="./uploads/heartSymbol.png" alt="">
                        <span>Gastroenterology</span>
                        <p>All kind of medical diagnosis and treatment of diseases of the esophagus, stomach, small intestine, colon and rectum, pancreas, gallbladder, bile ducts and liver.</p>
                    </a>

                    <a href="#" class="item">
                        <img src="./uploads/heartSymbol.png" alt="">
                        <span>Ophthalmology</span>
                        <p>All kind of medical diagnosis and treatment of anatomy, physiology and diseases that may affect the eye.</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <h3><strong>MedCare Hospital</strong></h3>
                    <span class="subtitle">All for your Healthcare</span>
                    <p>
                        Our hospital is one of the best in the country and we are always trying to give the best healthcare
                        and services with the newest technologies of the age for our patients. <br />
                        <br />
                        Our doctors are the best specialized doctors of the country who care for your health. We are working
                        for best of your health since 10 years and we always update our health tecnologies and services.
                    </p>
                    <a href="#" class="learn-more">
                        See more about our doctors
                    </a>
                    <span class="work-time-title">Working Hours</span>
                    <div class="work-time-content">
                        <p>
                            Monday - Friday 08:00 AM - 06:30 PM<br />
                            Saturday 09:00 AM - 06:00 PM<br />
                            Not working day: Sunday
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img data-aos="flip-right" src="https://cdn01.alison-static.net/public/html/site/img/email/healthcare-hub-header-img.png" alt="" class="img-fluid right-image">
                </div>
            </div>
        </div>
    </section>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Treatments</a></li>
                            <li><a href="#">Surgeries</a></li>
                            <li><a href="#">Healthcare</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Our Hospital</a></li>
                            <li><a href="#">Our Doctors</a></li>
                            <li><a href="#">Our Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Contact</h3>
                        <ul>
                            <li><a href="#">+359 873 650 872</a></li>
                            <li><a href="#">hospitalInfo@medcare.com</a></li>
                            <li><a href="#">appointment@medcare.com</a></li>
                        </ul>
                    </div>
           
                </div>
            </div>
            <div class="col-lg-3 item social">
                <a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
            </div>
        </footer>
    </div>
</body>
</html>